    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>News</title>
        <link rel="shortcut icon" href="https://cdn.freebiesupply.com/logos/large/2x/google-g-2015-logo-png-transparent.png">
        <link rel="stylesheet" href="{{url_for('static', filename='News.css')}}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"> -->
        <style>
            .bar-1{
                background-color: {% if dictmain['istrue']==True %}green{% elif dictmain['istrue']==False %}red{% else %}#c2c2c2{% endif %};
                color: {% if dictmain['istrue']==True %}#fff{% elif dictmain['istrue']==False %}#fff{% endif %};
            }
        </style>

    </head>
    <body>
        <div class="box1">
            <h2>News Analyzer</h2>
        </div>
        <div class="box2">
            <div class="logo">NEWS</div>
            <div class="nav">
                <ul>
                    <li id="home"><a href="#">Home</a></li>
                    <li><a href="{{ url_for('github_login') }}">Admin</a></li>
                    <li id="user_name">{{name}}</li>
                </ul>
            </div>
        </div>
        <div class="box3">
            <div class="container-l">
                <div class="user">
                    <form action="/" method="post">
                        <h2>User Portal</h2>
                        <br><br>
                        <input type="text" placeholder="User Name" name='user'>
                        <br><br>
                        <select id="option" name='news'>
                            <option value="The_Hindu">The Hindu</option>
                            <option value="toi">The Times of India</option>
                        </select>
                        <br><br>
                        <input type="text" id="link" name="link" placeholder="News link">
                        <!-- btn -->
                        <button class="button" id="btn">Submit</button>
                    </form>
                    <div class="thumbnail">
                        <i class="fa-solid fa-thumbs-up"></i>
                        <p id="thumb">0</p> &emsp;
                        <i class="fa-solid fa-heart"></i>
                        <p id="heart">0</p>
                    </div>
                </div>
                
            </div>
            <!-- right side box -->
            <div class="container-r">
                <div class="bar-1">
                    {{dictmain['heading']}}
                </div>
                <div class="bar-2">
                    <div class="card" id="card-1">
                        <h2>Data Using NLTK</h2>
                        <label for="">Sentence :</label>
                        <input type="text" class="data" placeholder="0" disabled value={{dictmain['sentence']}} >
                        <br><br>
                        <label for="">Words:</label>
                        <input type="text" class="data" placeholder="0" disabled value={{dictmain['words']}}>
                        <br><br> 
                        <label for="">Pos tag:</label> 
                        <textarea class="data" id='data-3' disabled> {{dictmain['upos']}} </textarea>
                    </div>
                    <div class="card">
                        <h2>News Related</h2><br>
                        <label for="">About article</label>
                        <textarea class="data" id='tags' disabled>
                            {% for tag in dictmain['articleTag'] %}
                                {{ tag }}
                            {% endfor %}
                        </textarea>
                        <br><br>
                        <label for="">Author name:</label><br><br>
                        <div class="data">{{dictmain['authername']}}</div> 
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        {% if pera %}
          <div class="peragraph">
            {{pera}}
          </div>
        {% endif %}
        <br><br><br>

        <div class="container my-5">

            <!-- Footer -->
            <footer class="text-center text-lg-start text-white" style="background-color: #1c2331">
              <!-- Section: Social media -->
              <section class="section-1" style="background-color: #6351ce">
                <!-- Left -->
                <div class="me-5">
                  <span>Get connected with us on social networks:</span>
                </div>
          
                <!-- Right -->
                <div>
                  <a href="#" class="text-white me-4">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                  <a href="https://www.google.com/" class="text-white me-4">
                    <i class="fab fa-google"></i>
                  </a>
                  <a href="#" class="text-white me-4">
                    <i class="fab fa-instagram"></i>
                  </a>
                  <a href="https://www.linkedin.com/in/rajat-malvi/" class="text-white me-4">
                    <i class="fab fa-linkedin"></i>
                  </a>
                  <a href="https://github.com/rajat-malvi" class="text-white me-4">
                    <i class="fab fa-github"></i>
                  </a>
                </div>
                <!-- Right -->
              </section>
              <!-- Section: Social media -->
          
              <!-- Section: Links  -->
              <section class="section-2">
                <div class="container text-center text-md-start mt-5">
                  <!-- Grid row -->
                  <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="pera-f">
                      <!-- Content -->
                      <h3 class="text-uppercase fw-bold">News Analyzer : </h3>
                      <hr style="width: 160px; background-color: #7c4dff; height: 2px"/>
                      <br>
                      <p>The application "News Analyzer" provides users with real-time news articles from "The Times of India" and "The Hindu." Users can read the latest news from these sources and analyze the text for sentiment, key topics, or other insights. By offering news from these reputable sources, the application ensures that users receive reliable and up-to-date information. The analysis features enhance the user experience by providing deeper insights into the news content, helping users understand the news articles better.</p>
                    </div>  
                    <!-- Grid column -->
                  </div>
                  <!-- Grid row -->
                </div>
              </section>
              <!-- Section: Links  -->
          
              <!-- Copyright -->
                <div class="p-3" style="background-color: rgba(0, 0, 0, 0.2)">
                  © 2024 News Analyzer. All rights reserved.
                </div>
            </footer>          
          </div>
          



        <!-- js code -->
        <script>
          // Get the elements for the thumbs-up and heart counts
          var thumbCount = document.getElementById('thumb');
          var heartCountElem = document.getElementById('heart');
          
          // Retrieve like counts from local storage or default to 0
          var thumbsUpCount = localStorage.getItem('thumbsUpCount') || 0;
          var heartCount = localStorage.getItem('heartCount') || 0;
          
          // Set initial counts
          thumbCount.textContent = thumbsUpCount;
          heartCountElem.textContent = heartCount;
          
          // Update the counts and store in local storage when the icons are clicked
          document.querySelector('.fa-thumbs-up').addEventListener('click', function() {
              thumbsUpCount++;
              thumbCount.textContent = thumbsUpCount;
              localStorage.setItem('thumbsUpCount', thumbsUpCount);
          });
          
          document.querySelector('.fa-heart').addEventListener('click', function() {
              heartCount++;
              heartCountElem.textContent = heartCount;
              localStorage.setItem('heartCount', heartCount);
          });
      </script>
      
    </body>
    </html>
