<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='SearchHistory.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='News.css')}}">
</head>
<body>
    <div class="box2">
        <div class="logo">NEWS</div>
        <div class="nav">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Admin</a></li>
            </ul>
        </div>
    </div>
    <div class="main">
        <h1>User History</h1>
        <div class="hbox">
            {% for data in  lst %}
                <div class="hcard card">
                    <ul>
                        <li>{{ data[1] }}</li>
                        <li>{{ data[2] }}</li>
                        <li>{{ data[3] }}</li>
                        <li>{{ data[4] }}</li>
                        <li>{{ data[5] }}</li>
                        <li>{{ data[6] }}</li>
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>

</body>
</html>